/* fix searchbox */
div[class^="sidebar"] + div[class^="chat"]:has(main + [class^="userPanelOuter" i]) div[class^="searchBar"] {
	width: 275px !important;
}

/* fix activity panel */
div[class*="outer"] {
	background-color: var(--background-secondary) !important;
}

/* fix toolbar */
div[class^="toolbar"] > div[aria-label="Add Friends to DM"],
div[class^="toolbar"] > div[aria-label="Start Video Call"],
div[class^="toolbar"] > div[aria-label="Hide User Profile"] {
	display: none;
}
div[class^="upperContainer"] > div[class^="children"]:after {
	display: none;
}

/* fix user panel */
div[class*="userPanelOuter"] {
	width: 300px;
}
div[class*="panelBanner"] {
	border-radius: 20px 5px;
}

/* border gap for other msgs */
li[id^="chat-messages-"]:not(li[class*="myMessage"]) {
	margin-left: 70px !important;
}

/* set background for all msgs */
li[id^="chat-messages-"] > div[class*="cozyMessage"] {
	background: var(--bg-overlay-1,var(--background-message-hover)) !important;
	border-radius: 20px !important;
	padding: 5px !important;
	margin-bottom: 10px !important;
	max-width: 320px !important;
}

/* set inline padding in msgs */
li[id^="chat-messages-"] > div[class*="cozyMessage"] > div[class^="contents"] {
	padding: 6px !important;
}

/* fix avatar of others outside their msgs */
li[id^="chat-messages-"] > div[class*="cozyMessage"] > div[class^="contents"] > img:first-child:not(.myAvatar) {
	margin-bottom: 25px !important;
	left: -50px !important;
	right: unset !important;
}
li[id^="chat-messages-"] > div[class*="cozyMessage"] > div[class^="contents"] > img + img:not(.myAvatarDecoration) {
	margin-bottom: 25px !important;
	left: -54px !important;
	right: unset !important;
}

/* fix reply pseudo */
div[class^="repliedMessage"]:not(.myWrapper):before {
	right: 103%;
}
.myWrapper > div[id^="message-reply"]:before {
	left: 105% !important;
	right: calc(-1*(.6*var(--avatar-size) + var(--gutter))) !important;
	transform: rotateY(180deg) !important;
}

/* center accessories embeds */
div[id^="message-accessories"], div[id^="message-accessories"] > article, div[class^="visualMediaItemContainer"] {
	display: grid;
	justify-items: center !important;
	justify-self: center !important;
	align-self: center !important;
}
div[id^="message-accessories"] > article + div {
	gap: unset;
	justify-content: space-between;
	margin-top: 1rem;
}
div[class^="nonVisualMediaItemContainer"] {
	align-items: center;
}
div[class^="nonVisualMediaItem_"] {
	max-width: 60%;
}

/* no background for stupid embeds */
div[id^="message-accessories"] > div[class^="wrapper"] {
	background-color: transparent !important;
}

/* round emojis */
span[class^="emojiContainer"] * {
	border-radius: 10px !important;
}

/* neat reactions */
div[aria-label="Add Reaction"] {
	display: none !important;
}
div[class^="reactions"] {
	margin-left: 3% !important;
	justify-self: center !important;
	align-self: center !important;
}
div[class^="visualMediaItemContainer"] + div[class^="reactions"] {
	margin-top: 2rem;
}

/* mentioned echo pseudo */
div[class*="mentioned"], div[class*="ephemeral_"]:before {
	border: 4px solid var(--accent-3);
	border-top-color: transparent !important;
	border-bottom-color: transparent !important;
	border-right-color: transparent !important;
}
div[class*="mentioned"]:before {
	display: none !important;
}
div[class*="replying"]:before {
	height: 50%;
	top:25%;
}

/* fix timestamp */
span[class*="timestampInline"] {
	vertical-align: top !important;
}
span[class*="timestampVisibleOnHover"] {
	display: none;
}

/* fix texts direction in embeds */
div[class^="gridContainer"] > div:first-child > div[class*="embed"], div[class^="gridContainer"] > div:first-child > div[class*="embed"] > span, div[class^="gridContainer"] > div:first-child > div[class*="embed"] > a {
	text-align: start;
}

/* centralized special msgs */
div[class^="welcomeCTA"], span[class^="clickableSticker"] {
	display: flex;
	justify-content: center;
	justify-self :center;
}